body {
  font-family: sans-serif;
  background: rebeccapurple;
  color: white;
  text-align: center;
  margin-top: 25vh;
}

/* Add attributes to the button which reload the page */
#playAgain {
  border-radius: 85%;
  width: 95px;
  height: 95px;
  position: absolute;
  top: 360px;
  right: 610px;
  border-color: purple;
  font-size: 24px;
  color: purple;
}
